.event {
    width: 600px;
    height: 400px;
    padding: 16px;
}
.eventImage {
    width: 100%;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
}

.textDiv {
    margin-left: 50xp;
}

h1 {
    text-align: center;
}
.timedate{
    display: flow-root;
    padding: 16px;
}
.date{
    float: left;
}

.time{
    float: right;
}